*.prefs
*.class

# Eclipse Project Files #
.project
.settings
.classpath

# Netbeans files #
nbactions.xml
nb-configuration.xml

# Build Directories #
target/
bin/

# working dirs #

user/
working/
global/

